
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;

	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

header {

  padding: 20px;
  text-align: center;
}

span,p{
    font-size: 12px; /* Cambia el tamaño de fuente según tus preferencias */
    
  }
  .card{
    border-radius: 20px;
    background: rgb(245, 237, 220);
  }
.canti{
    width: 10%;
}
button {
	border-radius: 20px;
	border: 1px solid rgb(49, 1, 255);
	background-color: rgb(49, 1, 255);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.quantity-field {
    display: flex;
    align-items: center;
  }
  .quantity-btn {
    padding: .25rem .5rem;
    font-size: .75rem;
  }
  .quantity-value {
    flex: 1;
    text-align: center;
  }


  .custom-button {
    margin-right: 10px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 20px;
  }
  .custom-button:focus {
    outline: none;
  }
  .custom-button.active {
    background-color: #28a745;
    color: white;
  }
  .page-section {
    display: none;
  }
  .page-section.active {
    display: block;
  }
  .atras{
    background: rgb(196, 189, 40);
    border-radius: 12px;
  }
  .agregar{
    background: rgb(30, 71, 244);
    color: white;
    border-radius: 12px;
  }
  .containe{
    height: 400px; /* Establece la altura deseada */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edita{
    background: rgb(30, 71, 244);
    color: white;
    border-radius: 12px;
  }