body {

  font-size: 10px;
}

.background-nav{
    background: rgb(30, 58, 237);
  }
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

.pagination a,
.pagination span {
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 4px 8px; /* Ajusta el relleno según tus necesidades */
}
